@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0px 20px 0px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #7D614A;
}

.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.white {
    font-size: 15px;
    font-weight: 600;
    padding: 11px 18px;
    color: black;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}


/*header CSS */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-content: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#navbar li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #7D614A;
    transition: 0.3s ease;
    position: relative;
}

#navbar li a:hover,
#navbar li a.active {
    color: #938E86;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #ffcd3c;
    position: absolute;
    bottom: -4px;
    left: 0px;
}

#hero {
    background-image: url("../media/background1.png");
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-weight: bold;
    color: #E7CDBC;
}

#hero h1 {
    margin: 0 0;
    color: #BBA995;
}

#hero h2 {
    margin: 0 0;
    color: #938E86;
}

#hero p {
    color: white;
}

#hero button {
    background-image: url("../media/button.png");
    background-color: transparent;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    border-image-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#feature .box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    border: 1px solid #F1EEE7;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .box:hover {
    box-shadow: 10px 10px 55px rgba(255, 255, 255, 0.25);
}

#feature .box h6 {
    padding: 9px 8px 8px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #5c4d41;
    background-color: #e8e8e8;
    font-size: 13px;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 h2 {
    font-size: 60px;
}

#product1 p {
    font-size: 45px;
    color: #F1EEE7;
}

#product1 .pro {
    width: 13%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #F1EEE7;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    margin: 20px 30px;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 10px 10px 55px rgba(255, 255, 255, 0.25);
}

#product1 .pro .desc {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .desc span {
    color: #F1EEE7;
    font-size: 18px;
}

#product1 .pro .desc h5 {
    color: #1a1a1a;
    font-size: 20px;
    margin: 0;
}

#product1 .pro .desc i {
    font-size: 12px;
    color: rgb(228, 214, 24);
}

#product1 .pro .desc h4 {
    font-size: 18px;
    font-weight: 700;
    color: #F1EEE7;
    margin: 0;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #7D614A;
    position: absolute;
    bottom: 17px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../media/footer1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    max-height: 700px;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: black;
}

#banner .normal:hover {
    background-color: #7D614A;
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../media/footer1.png");
    width: 45%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    max-height: 700px;
    padding: 30px;
}

#sm-banner h4 {
    color: black;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 800;
}

#sm-banner .banner-box:hover button {
    background-color: white;
    border: 1px solid black;
}


/* to change the picture for th second banner */


/* #sm-banner .banner-box2 {
  background-image: url(../media/footer.jpg);
} */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../media/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #938E86;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 16;
    color: white;
}

#newsletter p span {
    color: orange;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #7D614A;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 15px;
}

footer p {
    font-size: 13px;
    margin: 0 0 5px 0;
    color: white;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.follow {
    margin-top: 20px;
}

.follow i {
    color: white;
    padding-right: 4px;
    cursor: pointer;
}

.install .row img {
    border-radius: 6px;
}

.install img {
    margin: 10px 0 15px 0;
}

.follow i:hover,
footer a:hover {
    color: black;
}

.copyright {
    width: 100%;
    text-align: center;
}

.copyright p {
    color: white;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -350px;
        height: 100vh;
        width: 280px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        margin-top: 0;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 20px;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        flex-wrap: wrap;
        justify-content: center;
    }
    #feature .box {
        margin: 15px 15px;
    }
    #sm-banner .banner-box {
        width: 42%;
        height: 30vh;
        margin-top: 20px;
    }
    #sm-banner h4 {
        font-size: 10px;
    }
    #sm-banner h2 {
        font-size: 13px;
    }
}

#page-header {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
    background-color: #938E86;
}

#page-header h2,
#page-header p {
    color: #fff;
}


/* Single Product */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #088178;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}


/* bolg */

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details p {
    color: white;
}


/* about */

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-head p {
    color: white;
}


/* contactus */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-details .details span,
#form-details span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
    color: white;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: black;
    color: #fff;
}

#form-details .people div {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}

#form-details .people img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/* single */

#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 0;
}

#prodetails .single-pro-details h2 {
    padding: 0;
    margin: 0;
}

#prodetails .single-pro-details span {
    color: white;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 42px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background: white;
    color: black;
}

#prodetails .single-pro-details button:hover {
    background: black;
    color: white;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}


/* cart */

#cart {
    overflow-x: auto;
}

#cart i {
    color: black;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cuopon {
    width: 50%;
    margin-bottom: 30px;
}

#cuopon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#cuopon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#cuopon button,
#subtotal button {
    background: black;
    color: white;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


/* signup */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 32px;
    letter-spacing: 1px;
    color: #fff;
}

.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.form-wrapper {
    animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
    animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}

@keyframes hideLayer {
    0% {
        z-index: 1;
    }
    49.999% {
        z-index: 1;
    }
}

.switcher {
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: .5px;
    color: #999;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(0);
    transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
    color: #fff;
    transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
    color: #fff;
    transform: translateX(-90px);
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 2px;
}

.underline::before {
    content: '';
    position: absolute;
    top: 0;
    left: inherit;
    display: block;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: transform .2s ease-out;
}

.switcher-login .underline::before {
    transform: translateX(101%);
}

.switcher-signup .underline::before {
    transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
    transform: translateX(0);
}

.form {
    overflow: hidden;
    min-width: 260px;
    margin-top: 50px;
    padding: 30px 25px;
    border-radius: 5px;
    transform-origin: top;
}

.form-login {
    animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
    animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
    0% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background-color: #fff;
        transform: translate(35%, -20px);
    }
}

@keyframes hideLogin {
    0% {
        background-color: #fff;
        transform: translate(35%, -20px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
}

.form-signup {
    animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
    animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
    0% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
}

@keyframes hideSignup {
    0% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background: white;
        transform: translate(-40%, 10px) scaleY(.8);
    }
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .3s ease-out;
}

.form-login fieldset {
    transform: translateX(-50%);
}

.form-signup fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    margin-bottom: 20px;
}

.input-block label {
    font-size: 14px;
    color: #938E86;
}

.input-block input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #938E86;
    background: #eef9fe;
    border: 1px solid #7D614A;
    border-radius: 2px;
}

.form [type='submit'] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s ease-in;
}

.btn-login {
    color: #fbfdff;
    background: #7D614A;
    transform: translateX(-30%);
}

.btn-signup {
    color: #7D614A;
    ;
    background: #fbfdff;
    box-shadow: inset 0 0 0 2px #7D614A;
    ;
    transform: translateX(30%);
}

.container {
    min-height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox {
    margin-top: 20px;
}

.container form .inputBox span {
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form .flexbox {
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}

.container form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, #7D614A, #938E86);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #7D614A, #938E86);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #7D614A, #938E86);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box {
    padding: 0 20px;
}

.container .card-container .back .box span {
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img {
    margin-top: 30px;
    height: 30px;
}